extends ./layout/index.pug
block compartirContenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/aragon.jpg" class="img-fluid")
            .col-md-7 
                h1=pagina 
                blockquote Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas nulla lacus tristique posuere magnis viverra elementum potenti erat, volutpat molestie at massa convallis gravida lobortis mollis etiam parturient commodo tempor eros dapibus fermentum. 
                
        .lista-iconos
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4 
                        img(src="/img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Descripcion 
                        p Texto random para hacer espacio 
                    .col-md-4 
                        img(src="/img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Descripcion 
                        p Texto random para hacer espacio 
                    .col-md-4 
                        img(src="/img/opinion.png" class="img-fluid mb-4")
                        h2.mb-4 Descripcion 
                        p Texto random para hacer espacio 
                        