footer.container.py-5 
    .row 
        .col-mod-6 
            nav.nav.footer.justify-content-center.justify-md-start 
                a.nav-link(href="/creadores") Creadores 
                a.nav-link(href="/materias") Materias 
                a.nav-link(href="/comentarios") Comentarios 
        .col 
            p.text-center.text-md-right 
                | Derechos Reservados         
                span=tiempo   