<!--div(classs="navegacion")-->
<!--div.navegacion-->
.navegacion 
    .container 
        .row.justify-content-center.justify-content-nd-between.aling-items-center.py-4 
        .col-md-4.col-6 
            a(href="/")
                img(src="/img/logo.PNG",width=300,height =200)
        .col-md-8 
            nav.net-5.mt-md-0.nav.justify-content-center.justify-content-md-end 
            a.nav-link(href="/creadores") Creadores
            a.nav-link(href="/materias") Materias 
            a.nav-link(href="/comentarios") Comentarios