doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE-edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pagina}
        link(rel="stylesheet", href="/css/bootstrap-docs.css")
        link(rel="stylesheet", href="/css/bootstrap-min.css")
        link(rel="stylesheet", href="/css/miestilo.css")
    body 
        include header 
        block compartirContenido 
        include footer
        script(src="/js/bootstrap.js")